.container {
  position: relative;
  display: inline-block;
  height: 234px;
}

.image {
  display: block;
  height: 100%;
}

.description {
  font-size: var(--font-sm);
  padding: var(--spacing-2);
  background: var(--color-primary-300);
  position: absolute;
  display: inline;
  bottom: 0;
  left: 0;
  color: var(--color-light);
}
