.chartBox {
  background-color: var(--color-dark-600);
  padding: var(--spacing-4) var(--spacing-6);
  font-family: "Inter";
}

.infoArea {
  display: flex;
  color: var(--color-light);
  margin-bottom: var(--spacing-1);
}

.heading {
  font-size: var(--font-sm);
  width: 96px;
}

.date {
  font-size: var(--font-xxlg);
}

.filterGroup {
  display: flex;
  gap: var(--spacing-4);
}
