.chartsWrapper {
  width: 100%;
  background-color: var(--color-dark-600);
}

.charts {
  max-width: 1280px;
  display: flex;
  height: 312px;
  margin: 0 auto;
}
.circleChart {
  flex: 1;
}

.lineChart {
  flex: 1;
}
.category {
  display: flex;
  flex-direction: row;
  width: var(--max-width);
  gap: var(--spacing-16);
  margin: 0 auto;
  justify-content: center;
  margin-bottom: var(--spacing-6);
}

.meals {
  max-width: var(--max-width);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: var(--spacing-2);
  margin: 0 auto;
  margin-bottom: var(--spacing-6);
}

.viewMore {
  display: flex;
  justify-content: center;
  margin-bottom: var(--spacing-16);
}
