.headerWrapper {
  background-color: var(--color-dark-500);
}
.header {
  display: flex;
  justify-content: space-between;
  padding: var(--spacing-2) 0;
  align-items: center;
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  color: var(--color-light);
}

.nav {
  display: flex;
  gap: var(--spacing-8);
  align-items: center;
  position: relative;
}

ul {
  display: flex;
  gap: var(--spacing-4);
}

.dropdown {
  background: var(--color-gray-400);
  position: absolute;
  right: 0;
  top: 59px;
  z-index: 9999;
  display: block;
}

.dropdownItem {
  padding: var(--spacing-6) var(--spacing-8);
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  border-bottom: 1px solid var(--color-dark-600);
}
