.app {
  text-align: center;
  position: relative;
}

.backToTopWrapper {
  width: var(--max-width);
  margin: 0 auto;
}

.button {
  position: fixed;
  right: var(--spacing-24);
  bottom: var(--spacing-8);
  margin-bottom: var(--spacing-24);
}
